html,
body,
#wrapper {
	width: 100%;
	height: 100%
}

#wrapper {
	overflow: hidden;
	position: relative;
	background: #000;
	-webkit-user-select: none;
			user-select: none;
}
#wrapper > div {
	position: absolute;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.text::-webkit-scrollbar {
	width: 8px;
	height: auto;
}
/*定义滚动条的轨道，内阴影及圆角*/
.text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 2px;
    background-color: #f5f6f9;
}
/*定义滑块，内阴影及圆角*/
.text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    /*background-color: #856012;*/
    background: url(../images/scroll-block.png);
}